<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.enide.maven.launchexec.LaunchConfigurationType">
<stringAttribute key="KEY_FILE_PATH" value="/12_days_hackerrank_challenge/src/fourth_day_16_november_2017/CanYouSortThirdTrial.java"/>
</launchConfiguration>
