<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EAI-BPM_TrackAllocation/src/november_29th_2017/RightShiftOperator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="november_29th_2017.RightShiftOperator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EAI-BPM_TrackAllocation"/>
</launchConfiguration>
